<!DOCTYPE html>
<html>
<%- include('layout/head', {title : data.title}); %>
<body>
    <%- include('layout/nav', {cart : data.session} , {sess: data.session} ); %>
    <div class="container">
        <h1>Buy Gift</h1>
        <hr/>
        <div class="row">
            <!-- left column-->
            <!-- edit form column-->
            <div class="col-md-9 personal-info col-md-offset-2" >
                <h3>Information Gift</h3>
                <form id="buyform" role="form" class="form-horizontal" method="post" action="/buy">
                <div id="buyalert" style="<% if(!data || !data.error ) {%>display:none<%}%>" class="alert alert-danger">
                            <span>Error :</span>
                            <%if (data && data.error) {%>
                                <span><%= data.error%></span>
                                <%}%>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Category :</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="user_time_zone" class="form-control">
                                    <option value="Shoe">Giay The Thao</option>
                                    <option value="CardVT10">Card Viettel 10k</option>
                                    <option value="CardVT20">Card Viettel 20k</option>
                                    <option value="CardVT50">Card Viettel 50k</option>
                                    <option value="CardVT50100">Card Viettel 100k</option>
                                    <option value="Clothes" selected="selected">Quan Ao</option>
                                    <option value="Movies">Ve xem phim</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Price Ask :</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input name="priceAsk" type="number" placeholder="Price that you want to buy" class="form-control" data-error="#errorpriceAsk" /><span id="basic-addon1" class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            </div>
                            <small style="color: red;" id="errorpriceAsk"></small>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" value="Save Changes" class="btn btn-primary" /><span>&nbsp</span>
                            <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='/';" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr/>
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js "></script>
 <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript ">
            $("#buyform").validate({
                rules: {
                            priceAsk: {
                                    required: true
                            
                            }
                },

                messages :{
                            priceAsk: {
                                    required: "Please retype this field"
                                
                            }
                },
                errorElement: "span",
                errorPlacement: function(error, element) {
                    var placement = $(element).data("error");
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        </script>                        