extends layout/layout

block content
  .container
    h1 Buy Gift
    hr
    .row
      // left column
      //- .col-md-3
      //-   .text-center
      //-     img.avatar.img-circle(src='//placehold.it/100', alt='avatar')
      //-     h6 Upload a different photo...
      //-     input.form-control(type='file')
      // edit form column
      .col-md-9.personal-info.col-md-offset-2
        .alert.alert-info.alert-dismissable
          a.panel-close.close(data-dismiss='alert') ×
          i.fa.fa-coffee
          |           This is an 
          strong .alert
          | . Use this to show important messages to the user.
        h3 Information Gift
        form.form-horizontal(role='form')
          .form-group
            label.col-lg-3.control-label Category :
            .col-lg-8
              .ui-select
                select#user_time_zone.form-control
                  option(value='Shoe') Giay The Thao
                  option(value='CardVT10') Card Viettel 10k
                  option(value='CardVT20') Card Viettel 20k
                  option(value='CardVT50') Card Viettel 50k
                  option(value='CardVT100') Card Viettel 100k
                  option(value='Clothes', selected='selected') Quan Ao
                  option(value='Movies') Ve xem phim
          .form-group
            label.col-md-3.control-label FromPrice-ToPrice :
            .col-md-8
              .input-group
                input.form-control(type='number' value="1")
                span#basic-addon1.input-group-addon
                  i.fa.fa-dollar
          .form-group
            label.col-md-3.control-label
            .col-md-8
              input.btn.btn-primary(type='button', value='Save Changes')
              span &nbsp
              input.btn.btn-default(type='reset', value='Cancel')
  hr