<!DOCTYPE html>
<html>
<%- include('layout/head', {title : data.title}); %>
<body>
    <%- include ./layout/nav %>
    <div class="container" style="padding-top: 40px;">
        <div class="row-fluid">
            <div class="col-xs-2 col-md-2 portfolio-item">
                <div class="span3 sidebar hidden-phone">

                    <ul class="nav nav-list nav-sidebar-filter hidden-phone">
                        <li class="nav-header">
                            Specials
                        </li>
                        <li class="on-sale">
                            <a href="#">On Sale</a>
                        </li>
                    </ul>

                    <ul class="nav nav-list nav-sidebar-filter hidden-phone">
                        <li class="nav-header">
                            By Price
                        </li>
                        <li>
                            <a href="#">$25 - $50</a>
                        </li>
                        <li>
                            <a href="#">$50 - $100</a>
                        </li>
                        <li>
                            <a href="#">$100 - $250</a>
                        </li>
                        <li>
                            <a href="#">$250 - $500</a>
                        </li>
                        <li>
                            <a href="#">$500+</a>
                        </li>
                    </ul>

                    <ul class="nav nav-list nav-sidebar-filter hidden-phone">
                        <li class="nav-header">
                            Card Type
                        </li>
                        <li>
                            <a href="#">Physical</a>
                        </li>
                        <li>
                            <a href="#">Electronic
                                </a>
                        </li>
                    </ul>

                    <ul class="nav nav-list nav-sidebar-filter categories-top hidden-phone">
                        <li class="nav-header">
                            Categories
                        </li>
                        <li>
                            <a href="#">Arts and Crafts</a>
                        </li>
                        <li>
                            <a href="#">Automotive</a>
                        </li>
                        <li>

                    </ul>

                    <ul class="nav nav-list nav-sidebar-filter hidden-phone">
                        <li class="nav-header">
                            By Location
                        </li>
                        <li class="">
                            <a href="/local/chicago">Chicago</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-xs-10 col-md-10 portfolio-item">
                <div class="row-fluid">
                    <div class="span9 content">
                        <div class="row-fluid product-source-header" itemscope="" itemtype="http://schema.org/Product">
                            <div class="span12">
                                <h3 itemprop="name">
                                    Buy Starbucks Coffee Gift Cards
                                </h3>
                            </div>
                        </div>
                        <table class="table sortable-merchant-products ps" data-sort-column="3">
                            <thead>
                                <tr>
                                    <th class="hidden-phone"></th>
                                    <th>
                                        <a href="#">TYPE</a>
                                    </th>
                                    <th class="right"><a href="#">VALUE</a></th>
                                    <th class="right"><a class="active" href="#">% OFF</a><i class="icon-sort-down icon-2x"></i></th>
                                    <th class="right"><a href="#">PRICE</a></th>
                                    <th class="span1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="toggle-details" data-buy-button-parent-row="" id="9394103" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <td class="image hidden-phone">
                                        <span class="img"><a itemprop="url" href="/gift-cards/starbucks-coffee-1474125-2501"><img width="69" height="43" itemprop="image" src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225" alt="Buy Starbucks Coffee Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225"></a></span>
                                    </td>
                                    <td>
                                        <ul class="badges unstyled">
                                            <li>
                                                <span class="badge egift" data-toggle="tooltip" data-original-title="Electronic delivery for online use only">egift</span>
                                            </li>
                                            <li>
                                                <span class="badge voucher" data-toggle="tooltip" data-original-title="Can be printed and redeemed in-store">voucher</span>
                                            </li>
                                        </ul>

                                    </td>
                                    <td class="right">$50.00</td>
                                    <td class="right">3.8%</td>
                                    <td class="right">
                                        <strong itemprop="price">
                                        $48.10
                                        </strong>
                                        <p class="details">+ Details</p>
                                    </td>
                                    <td class="span2">
                                        <form data-buy-button-form="" data-type="json" action="/orders/populate" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="variants[9393358]" id="variants_9393358" value="1">
                                            <input type="hidden" name="product_index" id="product_index">
                                            <input type="hidden" name="sort" id="sort">
                                            <input type="hidden" name="direction" id="direction">
                                            <input type="hidden" name="page" id="page">
                                            <input type="hidden" name="per_page" id="per_page">
                                            <input type="submit" name="commit" value="Buy Now" class="pull-right btn btn-primary add-to-cart">
                                        </form>
                                    </td>
                                </tr>
                                <tr class="child-row" style="display: none;">
                                    <td colspan="6">
                                        <h3>Delivery &amp; Redemption</h3>
                                        <ul>
                                            <li>This eGift card can be redeemed online.</li>
                                            <li>This printable voucher can be redeemed on location.</li>
                                            <li>Most eGift cards and printable vouchers are delivered to your Raise account instantly, but please allow up to 24 hours.</li>
                                            <li>Do not transfer this card to your personal Starbucks account. Raise is not responsible for gift cards transferred to personal Starbucks accounts. </li>
                                        </ul>

                                        <h3>Card Details</h3>
                                        <ul>
                                            <li>Free delivery</li>
                                            <li>Gift cards cannot be used to purchase other gift cards</li>
                                        </ul>

                                    </td>
                                </tr>
                                <tr class="toggle-details" data-buy-button-parent-row="" id="9394104" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <td class="image hidden-phone">
                                        <span class="img"><a itemprop="url" href="/gift-cards/starbucks-coffee-1474128-2501"><img width="69" height="43" itemprop="image" src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225" alt="Buy Starbucks Coffee Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225"></a></span>
                                    </td>
                                    <td>
                                        <ul class="badges unstyled">
                                            <li>
                                                <span class="badge egift" data-toggle="tooltip" data-original-title="Electronic delivery for online use only">egift</span>
                                            </li>
                                            <li>
                                                <span class="badge voucher" data-toggle="tooltip" data-original-title="Can be printed and redeemed in-store">voucher</span>
                                            </li>
                                        </ul>

                                    </td>
                                    <td class="right">$50.00</td>
                                    <td class="right">3.8%</td>
                                    <td class="right">
                                        <strong itemprop="price">
                                            $48.10
                                        </strong>
                                        <p class="details">+ Details</p>
                                    </td>
                                    <td class="span2">
                                        <form data-buy-button-form="" data-type="json" action="/orders/populate" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="variants[9393359]" id="variants_9393359" value="1">
                                            <input type="hidden" name="product_index" id="product_index">
                                            <input type="hidden" name="sort" id="sort">
                                            <input type="hidden" name="direction" id="direction">
                                            <input type="hidden" name="page" id="page">
                                            <input type="hidden" name="per_page" id="per_page">
                                            <input type="submit" name="commit" value="Buy Now" class="pull-right btn btn-primary add-to-cart">
                                        </form>
                                    </td>
                                </tr>
                                <tr class="child-row" style="display: none;">
                                    <td colspan="6">
                                        <h3>Delivery &amp; Redemption</h3>
                                        <ul>
                                            <li>This eGift card can be redeemed online.</li>
                                            <li>This printable voucher can be redeemed on location.</li>
                                            <li>Most eGift cards and printable vouchers are delivered to your Raise account instantly, but please allow up to 24 hours.</li>
                                            <li>Do not transfer this card to your personal Starbucks account. Raise is not responsible for gift cards transferred to personal Starbucks accounts. </li>
                                        </ul>

                                        <h3>Card Details</h3>
                                        <ul>
                                            <li>Free delivery</li>
                                            <li>Gift cards cannot be used to purchase other gift cards</li>
                                        </ul>

                                    </td>
                                </tr>
                                <tr class="toggle-details" data-buy-button-parent-row="" id="9394105" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <td class="image hidden-phone">
                                        <span class="img"><a itemprop="url" href="/gift-cards/starbucks-coffee-1474131-2501"><img width="69" height="43" itemprop="image" src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225" alt="Buy Starbucks Coffee Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225"></a></span>
                                    </td>
                                    <td>
                                        <ul class="badges unstyled">
                                            <li>
                                                <span class="badge egift" data-toggle="tooltip" data-original-title="Electronic delivery for online use only">egift</span>
                                            </li>
                                            <li>
                                                <span class="badge voucher" data-toggle="tooltip" data-original-title="Can be printed and redeemed in-store">voucher</span>
                                            </li>
                                        </ul>

                                    </td>
                                    <td class="right">$50.00</td>
                                    <td class="right">3.8%</td>
                                    <td class="right">
                                        <strong itemprop="price">
                                            $48.10
                                        </strong>
                                        <p class="details">+ Details</p>
                                    </td>
                                    <td class="span2">
                                        <form data-buy-button-form="" data-type="json" action="/orders/populate" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="variants[9393360]" id="variants_9393360" value="1">
                                            <input type="hidden" name="product_index" id="product_index">
                                            <input type="hidden" name="sort" id="sort">
                                            <input type="hidden" name="direction" id="direction">
                                            <input type="hidden" name="page" id="page">
                                            <input type="hidden" name="per_page" id="per_page">
                                            <input type="submit" name="commit" value="Buy Now" class="pull-right btn btn-primary add-to-cart">
                                        </form>
                                    </td>
                                </tr>
                                <tr class="child-row" style="display: none;">
                                    <td colspan="6">
                                        <h3>Delivery &amp; Redemption</h3>
                                        <ul>
                                            <li>This eGift card can be redeemed online.</li>
                                            <li>This printable voucher can be redeemed on location.</li>
                                            <li>Most eGift cards and printable vouchers are delivered to your Raise account instantly, but please allow up to 24 hours.</li>
                                            <li>Do not transfer this card to your personal Starbucks account. Raise is not responsible for gift cards transferred to personal Starbucks accounts. </li>
                                        </ul>

                                        <h3>Card Details</h3>
                                        <ul>
                                            <li>Free delivery</li>
                                            <li>Gift cards cannot be used to purchase other gift cards</li>
                                        </ul>

                                    </td>
                                </tr>
                                <tr class="toggle-details" data-buy-button-parent-row="" id="9394113" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <td class="image hidden-phone">
                                        <span class="img"><a itemprop="url" href="/gift-cards/starbucks-coffee-1474155-2501"><img width="69" height="43" itemprop="image" src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225" alt="Buy Starbucks Coffee Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/109/thumb/starbucks-gift-card.png?1418234225"></a></span>
                                    </td>
                                    <td>
                                        <ul class="badges unstyled">
                                            <li>
                                                <span class="badge egift" data-toggle="tooltip" data-original-title="Electronic delivery for online use only">egift</span>
                                            </li>
                                            <li>
                                                <span class="badge voucher" data-toggle="tooltip" data-original-title="Can be printed and redeemed in-store">voucher</span>
                                            </li>
                                        </ul>

                                    </td>
                                    <td class="right">$50.00</td>
                                    <td class="right">3.8%</td>
                                    <td class="right">
                                        <strong itemprop="price">
                                            $48.10
                                        </strong>
                                        <p class="details">+ Details</p>
                                    </td>
                                    <td class="span2">
                                        <form data-buy-button-form="" data-type="json" action="/orders/populate" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="variants[9393368]" id="variants_9393368" value="1">
                                            <input type="hidden" name="product_index" id="product_index">
                                            <input type="hidden" name="sort" id="sort">
                                            <input type="hidden" name="direction" id="direction">
                                            <input type="hidden" name="page" id="page">
                                            <input type="hidden" name="per_page" id="per_page">
                                            <input type="submit" name="commit" value="Buy Now" class="pull-right btn btn-primary add-to-cart">
                                        </form>
                                    </td>
                                </tr>
                                <tr class="child-row" style="display: none;">
                                    <td colspan="6">
                                        <h3>Delivery &amp; Redemption</h3>
                                        <ul>
                                            <li>This eGift card can be redeemed online.</li>
                                            <li>This printable voucher can be redeemed on location.</li>
                                            <li>Most eGift cards and printable vouchers are delivered to your Raise account instantly, but please allow up to 24 hours.</li>
                                            <li>Do not transfer this card to your personal Starbucks account. Raise is not responsible for gift cards transferred to personal Starbucks accounts. </li>
                                        </ul>

                                        <h3>Card Details</h3>
                                        <ul>
                                            <li>Free delivery</li>
                                            <li>Gift cards cannot be used to purchase other gift cards</li>
                                        </ul>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="row-fluid brand-info">
                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
                                    Show 25
                                    <span class="caret"></span>
                                    </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">25</a></li>
                                    <li><a href="#">50</a></li>
                                    <li><a href="#">All</a></li>
                                </ul>
                            </div>
                            <small class="muted" itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
                            <span>25</span> Starbucks Coffee gift cards displayed
                            between
                            <span itemprop="lowPrice">$9.78</span>
                            and
                            <span itemprop="highPrice">$97.74</span>
                            </small>
                        </div>
                        <hr>
                        <!--<nav class="pagination pagination-centered">-->
                        <ul class="pagination text-center">
                            <li class="active"><a href="#">1</a></li>
                            <li class=""><a href="#">2</a></li>
                            <li class="disabled"><a href="">…</a></li>
                            <li class=""><a href="#">9</a></li>
                        </ul>
                        <!--</nav>-->


                        <div class="modal hide fade" id="alert-modal">
                            <div class="modal-header">
                                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                                <h3>Brand Alert Settings</h3>
                            </div>
                            <div class="modal-body"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ./layout/footer %>