<!DOCTYPE html>
<html>
<%- include ./layout/head %>
<body>
    <%- include ./layout/nav %>
    <div class="container" style="padding-top: 40px;">
        <div class="row-fluid">
            <div class="col-md-2 portfolio-item">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">Category</a>
                    <a href="#" class="list-group-item">Card</a>
                    <a href="#" class="list-group-item">Giay</a>
                    <a href="#" class="list-group-item">Dep</a>
                    <a href="#" class="list-group-item">Quan Ao</a>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">Location</a>
                    <a href="#" class="list-group-item">Da Nang</a>
                    <a href="#" class="list-group-item">Ha Noi</a>
                    <a href="#" class="list-group-item">Vinh</a>
                </div>
            </div>
            <div class="col-md-10 portfolio-item">
                <div class="row pad-vert-mini">
                    <h3 class="reset pull-left">Buy Gift Cards</h3>
                </div>        
                <div class="row">
                    <div class="col-md-2 text-center item">
                        <a data-ga-et="true" data-ga="{&quot;category&quot;:&quot;buy-page&quot;,&quot;action&quot;:&quot;click-brand-card&quot;,&quot;label&quot;:&quot;iTunes&quot;,&quot;value&quot;:&quot;1&quot;}" data-event="" href="/gift-card">
                            <span class="img">
                                <img src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/75/medium/itunes-gift-card.png?1470324371" alt="Buy iTunes Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/75/medium/itunes-gift-card.png?1470324371" width="160" height="98">
                            </span>
                            <span class="name">iTunes Gift Cards</span>
                        </a>
                        <span class="info">Save Up to 9.1%</span>
                    </div>
                    
                    <div class="col-md-2 text-center item">
                        <a data-ga-et="true" data-ga="{&quot;category&quot;:&quot;buy-page&quot;,&quot;action&quot;:&quot;click-brand-card&quot;,&quot;label&quot;:&quot;iTunes&quot;,&quot;value&quot;:&quot;1&quot;}" data-event="" href="/gift-card">
                            <span class="img">
                                <img src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/75/medium/itunes-gift-card.png?1470324371" alt="Buy iTunes Gift Card" data-src="https://dnrzlv4wd9rbi.cloudfront.net/assets/product-sources/75/medium/itunes-gift-card.png?1470324371" width="160" height="98">
                            </span>
                            <span class="name">iTunes Gift Cards</span>
                        </a>
                        <span class="info">Save Up to 9.1%</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <%- include ./layout/footer %>