extends layout/layout

block content
  .container
    .row
      .col-md-6.portfolio-item
        h3
          a(href='#') Project One
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
      .col-md-6.portfolio-item
        h3
          a(href='#') Project Two
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
      // .row