extends layout/head
block content
    .container
      #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
        .panel.panel-info
          .panel-heading
            .panel-title Sign In
            div(style='float:right; font-size: 80%; position: relative; top:-10px')
              a(href='/forgot') Forgot password?
          .panel-body(style='padding-top:30px')
            form#loginform.form-horizontal(method='POST', action='login', role='form')
              .input-group(style='margin-bottom: 25px')
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input#login-username.form-control(type='text', name='email', placeholder='username or email')
              .input-group(style='margin-bottom: 25px')
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                input#login-password.form-control(type='password', name='password', placeholder='password')
              .form-group(style='margin-top:10px')
                // Button
                .col-sm-12.controls
                  input#btn-login.btn.btn-success(type='submit', value='Login')
            // end form
            .form-group
              .col-md-12.control
                div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                  | Don't have an account!&nbsp;
                  a(href='/register') Sign Up Here
