body {
    padding-top: 40px;
    font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3d454d;
}

.margin-bot {
    margin-bottom: 5px;
}


/*-- custom item table --*/

.left {
    float: left;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table th,
.table td {
    vertical-align: middle;
}

.table th,
.table td {
    padding: 8px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

p,
ul,
ol {
    color: #50575e;
    margin-bottom: 24px;
    letter-spacing: .009rem;
}

user agent stylesheet td,
th {
    display: table-cell;
    vertical-align: inherit;
}

.badge {
    color: red;
    background-color: #FFF;
}

.nav {
    font: 15px "ProximaNova-Bold", Helvetica, Arial, sans-serif;
    margin-left: 0;
    list-style: none;
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.nav-sidebar-filter {
    margin: 0 0 24px;
    padding: 0;
    padding-right: 30px;
}

.row-fluid [class*="span4"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 3.75546%;
    *margin-left: 3.71179%;
}

.btn-primary {
    background: #4ed1aa;
    border: 1px solid #4ba29a;
}

table.ps .toggle-details {
    cursor: pointer;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

p,
ul,
ol {
    color: #50575e;
    margin-bottom: 24px;
    letter-spacing: .009rem;
}

.badge {
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

span.badge {
    background: #FFF;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    font: 13px "ProximaNova-Regular";
    line-height: 1;
    padding: 4px 6px;
    text-transform: capitalize;
    text-shadow: none;
    margin-bottom: 3px;
}

span.badge.egift,
span.badge.voucher,
span.badge.physical {
    border-color: #c2c7cc;
    color: #50575e;
}

.table tbody tr {
    padding: 10px 5px;
    font: 11px "ProximaNova-Bold", Helvetica, Arial, sans-serif;
    color: #86959d;
    text-transform: uppercase;
    white-space: nowrap;
}

.table thead th {
    padding: 10px 5px;
    font: 11px "ProximaNova-Bold", Helvetica, Arial, sans-serif;
    color: #86959d;
    text-transform: uppercase;
    white-space: nowrap;
}

.pagination>li>a,
.pagination>li>span {
    border: 1px solid #b8c3c9;
    box-shadow: none;
    color: #50575e;
    font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
    padding: 2px 9px 1px;
    line-height: 22px;
    margin: 0 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.customize {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.item {
    color: #50575e;
    margin-bottom: 24px;
    letter-spacing: .009rem;
    margin-right: 10px;
}

.item>a>span.img {
    border-radius: 6px;
}

.item>a {
    text-decoration: none;
}


/*-- End slide bar --*/

.text-right {
    text-align: left;
}

#myFooter {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #373a48;
    color: white;
}

#myFooter .container {
    text-align: center;
    /*background-color: #FFFFFF;*/
}

#myFooter .footer-copyright {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

#myFooter a {
    color: #282b2d;
    font-size: 18px;
}

#myFooter .footer-social {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#myFooter .fa {
    font-size: 25px;
    margin-right: 13px;
    margin-left: 18px;
    background-color: gray;
    color: #d0d0d0;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}


/* CSS used for positioning the footers at the bottom of the page. */


/* You can remove this. */

html {
    height: 100%;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}